html, body {min-height: 100%;}

.background {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(20, 177, 99, 0.75)), url("../../assets/img/resource/pet3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
  .background {
    background-image: url("../../assets/img/resource/pet1.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
  }
}